[submodule "boringssl"]
	path = boringssl
	url = https://github.com/google/boringssl.git
	branch = main
[submodule "ngtcp2"]
	path = ngtcp2
	url = https://github.com/fixnet-ai/ngtcp2.git
	branch = fixnet
[submodule "nghttp3"]
	path = nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
[submodule "nghttp2"]
	path = nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "libyaml"]
	path = libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "libmdbx"]
	path = libmdbx
	url = https://github.com/Mithril-mine/libmdbx.git
[submodule "lmdbx-zig"]
	path = lmdbx-zig
	url = https://github.com/fixnet-ai/lmdbx-zig.git
	branch = fixnet
[submodule "cpu_model"]
	path = cpu_model
	url = https://github.com/slyshykO/cpu_model.git
[submodule "lwip"]
	path = lwip
	url = https://github.com/fixnet-ai/lwip.git
	branch = fixnet
